.mainBar {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  margin-bottom: 15rem;
  margin-top: 10rem;
}

.centerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
